# Copyright (c) 2022 PicsArt, Inc.
# All rights reserved. Use of this source code is governed by a
# MIT-style license that can be found in the LICENSE file.

- file:
    files_glob:
      "{{[vars.cxx_helpers_dir, '**/*.h*'] | path_join}}"
    copy_to: |
      {% set filename, file_extension = path.splitext(file_name) %}
      {%- set file_rel_name = path.relpath(filename + vars.file_postfix + file_extension, vars.cxx_helpers_dir) -%}
      {{path.join(vars.cxx_helpers_out_dir, file_rel_name)}}

    variables:
      cxx_helper_includes: |
        {% set filename, file_extension = path.splitext(file_name) %}
        {%- set prj_rel = path.relpath(vars.cxx_helpers_out_dir, vars.out_prj_dir) -%}
        {%- set file_rel_name = path.relpath(filename + vars.file_postfix + file_extension, vars.cxx_helpers_dir) -%}
        {{[prj_rel, file_rel_name]| path_join}}

- file:
    files_glob:
      "{{[vars.cxx_helpers_dir, '**/*.c*'] | path_join}}"
    copy_to: |
      {% set filename, file_extension = path.splitext(file_name) %}
      {%- set file_rel_name = path.relpath(filename + vars.file_postfix + file_extension, vars.cxx_helpers_dir) -%}
      {{path.join(vars.cxx_helpers_out_dir, file_rel_name)}}

- file:
    files_glob:
      - "{{[vars.helpers_dir, '**/*.kt'] | path_join}}"
      - "{{[vars.helpers_dir, '**/*.java'] | path_join}}"
    render_to: |
      {% set filename, file_extension = path.splitext(file_name) %}
      {%- set file_rel_name = path.relpath(filename + vars.file_postfix + file_extension, vars.helpers_dir) -%}
      {{path.join(vars.helpers_out_dir, file_rel_name)}}

    variables:
      helper_includes: |
        {% set filename, file_extension = path.splitext(file_name) %}
        {%- set file_rel_name = path.relpath(filename + vars.file_postfix + file_extension, vars.helpers_dir) -%}
        {{vars.helpers_package_prefix}}{{'.' if vars.helpers_package_prefix}}{{path.splitext(file_rel_name)[0].replace(pat_sep, '.')}}
