attrs==19.3.0
backcall==0.2.0
decorator==4.4.2
GitPython==3.1.17
importlib-metadata==3.7.3
iniconfig==1.0.1
ipdb==0.13.3
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.17.2
Jinja2==2.11.3
MarkupSafe==1.1.1
more-itertools==8.4.0
packaging==20.4
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.6
ptyprocess==0.6.0
py==1.10.0
Pygments==2.7.4
pyparsing==2.4.7
pytest==6.0.1
PyYAML==5.4
six==1.15.0
sphinx==3.3.1
sphinx_rtd_theme==0.5.0
sphinx-tabs==3.0.0
toml==0.10.1
traitlets==4.3.3
wcwidth==0.2.5
zipp==3.1.0
sphinx==3.3.1
sphinx_rtd_theme==0.5.0
sphinx-tabs==3.0.0
GitPython==3.1.17
wheel==0.36.2
twine==3.3.0
isort==5.9.3