# Copyright (c) 2022 PicsArt, Inc.
# All rights reserved. Use of this source code is governed by a
# MIT-style license that can be found in the LICENSE file.

file:
  modulemap:
    file_path: |
      {{vars.modulemap_file_fullname}}
    scopes:
      - header
    content: |
      {{[banner_logo, vars.banner_comment]|make_doxygen_comment}}

      framework module {{vars.c_wrapper_lib_name.split('.')[0]}} {
          umbrella header "{{vars.c_wrapper_lib_name.split('.')[0]}}.h"

          {{vars.modulemap_export|indent(4)}}

          explicit module {{vars.c_wrapper_lib_name.split('.')[-1]}} {
              {{header|string|indent(8)}}
              {{cxx_helper_includes|format_list('header "{}"')|join(new_line)|indent(8)}}
              export *
          }
      }{{new_line}}

var_header_include: &var_header_include
  header:
    unique_content: |
      header "{{path.basename(vars.h_file_fullname)}}"

interface:
  modulemap: *var_header_include

class:
  modulemap: *var_header_include

function:
  modulemap: *var_header_include
